#main {
    padding: 40px 0px;
}

#content_bloc {
    width: 1280px;
    margin: 0 auto;
}

#content_bloc > ol {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}

#content_bloc > ol > li {
    min-width: 0;
}
