#main {
    background-color: #f1f5fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 0;
}

#content {
    display: flex;
    flex-direction: column;
    width: 1280px;
}

#content > h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    color: rgb(34, 34, 34);
    font-size: 36px;
    font-weight: bold;
}

#content > h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
    color: rgb(34, 34, 34);
    font-size: 30px;
    font-weight: lighter;
}

#content > ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 80px;
}

#content > ol > li {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 28px;
    font-weight: lighter;

    /* Animation */
    transition: transform 0.2s ease-out;
}

#content > ol > li:hover {
    transform: scale(1.2, 1.2);
    color: #6363b9;
    cursor: pointer;
}

#content > ol > li.selected {
    transform: scale(1.2, 1.2);
    color: #4646be;
}

#content > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 40px;
}

#content > ul > li {
    padding: 0px 20px;
    font-size: 28px;
    font-weight: lighter;
}
