#main {
    position: relative;
    border-bottom: 1px solid #000000;
    background-image: url("/images/background_top.jpg");
    background-size: cover;
}

#main::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
}

#content_bloc {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media (min-width: 1300px) {
    #content_bloc {
        padding-top: 200px;
        padding-bottom: 100px;
        width: 1200px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    #content_bloc {
        padding-top: 140px;
        padding-bottom: 60px;
        margin: 0px 20px;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    #content_bloc {
        padding-top: 100px;
        padding-bottom: 40px;
        margin: 0px 20px;
    }
}

@media (max-width: 600px) {
    #content_bloc {
        padding-top: 100px;
        padding-bottom: 40px;
        margin: 0px 20px;
    }
}
