#main {
    display: flex;
    flex-direction: row;
}

#main input {
    flex-grow: 1;
    font-weight: 100;
    color: rgb(79, 84, 117);

    border-width: 1px;
    border-color: #d8d8d8;

    transition: border-color 0.2s ease-in;
}

#main select {
    flex-grow: 1;
    font-weight: 100;
    color: rgb(79, 84, 117);

    border-width: 1px;
    border-color: #d8d8d8;

    transition: border-color 0.2s ease-in;
}

#main > input:hover {
    background-color: white;
    cursor: pointer;
}

#main > input:focus {
    outline: none;
    background-color: white;
    cursor: text;
}

#main input:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
    border-style: none;
}

#main input:nth-child(2) {
    border-style: none none none solid;
}

#main > button {
    position: relative;
    overflow: hidden;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: none;
    border-radius: 0px 10px 10px 0px;

    background-color: rgb(84, 102, 202);
    transition: background-color 0.2s;
}

#main > button:hover {
    cursor: pointer;
}

#main > button:active {
    background-color: rgb(53, 68, 156);
}

#main > button::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    top: -50px;
    height: 160px;
    left: -80%;
    transform: rotate(30deg);
    width: 40px;
    transition: left 0.2s ease-in;
}

#main > button:hover::after {
    left: 140%;
    transition: left 0.2s ease-in;
}

#main > button:focus-visible::after {
    left: 140%;
    transition: left 0.2s ease-in;
}

#main > button > img {
    filter: invert(100%);
}

/* ? Desktop ? */
@media (min-width: 1300px) {
    #main input {
        padding: 24px 40px;
        font-size: 20px;
    }

    #main select {
        padding: 0px 40px;
        font-size: 20px;
    }

    #main > button {
        padding: 0px 40px;
    }
}

/* ? Small Desktop ? */
@media (min-width: 1000px) and (max-width: 1300px) {
    #main input {
        padding: 20px 40px;
        font-size: 18px;
    }

    #main select {
        padding: 0px 40px;
        font-size: 18px;
    }

    #main > button {
        padding: 0px 30px;
    }
}

/* ? Tablet ? */
@media (min-width: 600px) and (max-width: 1000px) {
    #main input {
        padding: 18px 20px;
        font-size: 16px;
    }

    #main select {
        padding: 0px 20px;
        font-size: 16px;
    }

    #main > button {
        padding: 0px 22px;
    }
}

/* ? Mobile ? */
@media (max-width: 600px) {
    #main input {
        padding: 16px 40px;
        font-size: 14px;
    }

    #main select {
        padding: 0px 40px;
        font-size: 14px;
    }

    #main > button {
        padding: 0px 40px;
    }
}
