#search_section {
    position: relative;
    border-bottom: 1px solid #000000;
    background-image: url("/images/background_top.jpg");
    background-size: cover;
}

#search_section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    animation: shading 0.8s ease-in 0.2s 1 normal forwards;
}

@keyframes shading {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

#content_bloc {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 100px;
    width: 1280px;
}

#content_bloc > h1 {
    color: rgb(255, 255, 255);
    line-height: 60px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 40px;
}

#content_bloc > h2 {
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 80px;
}

#search_bar {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
}

#search_bar input {
    flex-grow: 1;
    padding: 24px 40px;
    font-size: 20px;
    font-weight: 100;
    color: rgb(79, 84, 117);

    border-width: 1px;
    border-color: #d8d8d8;

    transition: border-color 0.2s ease-in;
}

#search_bar > input:hover {
    background-color: white;
    cursor: pointer;
}

#search_bar > input:focus {
    outline: none;
    background-color: white;
    cursor: text;
}

#search_bar input:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
    border-style: none;
}

#search_bar input:nth-child(2) {
    border-style: none none none solid;
}

#search_bar > button {
    position: relative;
    overflow: hidden;
    padding: 20px 40px;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: none;
    border-radius: 0px 10px 10px 0px;

    background-color: rgb(84, 102, 202);
    transition: background-color 0.2s;
}

#search_bar > button:hover {
    cursor: pointer;
}

#search_bar > button:active {
    background-color: rgb(53, 68, 156);
}

#search_bar > button::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    top: -50px;
    height: 160px;
    left: -80%;
    transform: rotate(30deg);
    width: 40px;
    transition: left 0.2s ease-in;
}

#search_bar > button:hover::after {
    left: 140%;
    transition: left 0.2s ease-in;
}

#search_bar > button > img {
    filter: invert(100%);
}
