@font-face {
  font-family: 'lexend';
  src: url('./fonts/lexend/LexendTera-Regular.ttf');
}

@font-face {
  font-family: 'quicksand-light';
  src: url('./fonts/quicksand/Quicksand-Light.ttf');
}

@font-face {
  font-family: 'quicksand';
  src: url('./fonts/quicksand/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'quicksand-bold';
  src: url('./fonts/quicksand/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'quicksand-semibold';
  src: url('./fonts/quicksand/Quicksand-SemiBold.ttf');
}

* {
  color: rgb(48, 48, 48);
}

h1 {
  font-family: 'quicksand-bold';
  font-size: 1.96rem;
  font-weight: normal;
  padding: 0.2rem 0;
}

h2 {
  font-family: 'quicksand-semibold';
  font-size: 1.44rem;
  font-weight: normal;
  padding: 0.1rem 0;
}

label,
input {
  font-family: 'quicksand';
  font-size: 1.2rem;
}

p,
a,
button {
  font-family: 'quicksand';
  font-size: 1rem;
}

a {
  color: rgb(28, 55, 173);
}

a:hover {
  background: transparent !important;
  color: rgb(68, 98, 233);
  cursor: pointer;
}
