@import url('./fonts.css');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f5fc;
}

#app {
  /* ? Override it and set it to 100vh for no scrollable screen ? */
  min-height: auto;

  display: flex;
  flex-direction: column;
  place-items: start;
}

main {
  flex: 1;
}

*:focus {
  color: rgb(70, 87, 197);
  outline: solid 1px rgb(76, 93, 201);
}

@media (min-width: 1280px) {
  * {
    font-size: 21px;
  }

  section.responsive {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) and (min-width: 780px) {
  * {
    font-size: 18px;
  }

  section.responsive {
    margin: 0 20px;
  }
}

@media (max-width: 780px) and (min-width: 480px) {
  * {
    font-size: 16px;
  }

  section.responsive {
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  * {
    font-size: 14px;
  }

  section.responsive {
    margin: 0 4px;
  }
}
