#top_title {
    position: relative;
    border-bottom: 1px solid #000000;
    background-image: url("/images/background_top.jpg");
    background-size: cover;
}

#top_title::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    animation: shade_in 1s cubic-bezier(0, 0, 0.2, 1) 0.2s 1 normal forwards;
}

#top_title > h1 {
    position: relative;
    z-index: 10;

    text-align: center;

    font-weight: lighter;
    color: #ffffff;

    opacity: 0%;
    animation: fade_in_translate 1s cubic-bezier(0, 0, 0.2, 1) 0s 1 forwards;
}

#content_bloc {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#content_bloc > section {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content_bloc > section > h1 {
    font-weight: bold;
    color: #222222;

    opacity: 0%;
    animation: fade_in_translate 1s cubic-bezier(0, 0, 0.2, 1) 0.2s 1 forwards;
}

#content_bloc > section > p {
    font-weight: normal;
    color: #444444;

    opacity: 0%;
    animation: fade_in_translate 1s cubic-bezier(0, 0, 0.2, 1) 0.4s 1 forwards;
}

#content_bloc > section > ul {
    margin-top: 20px;
    list-style-type: none;

    opacity: 0%;
    animation: fade_in_translate 1s cubic-bezier(0, 0, 0.2, 1) 0.6s 1 forwards;
}

#content_bloc > section > ul > li {
    font-weight: normal;
    color: #444444;
}

@keyframes shade_in {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@keyframes fade_in_translate {
    from {
        opacity: 0%;
        transform: translateX(-40px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@media (min-width: 1300px) {
    #top_title > h1 {
        font-size: 40px;
        letter-spacing: 4px;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    #content_bloc {
        width: 1200px;
    }

    #content_bloc > section > h1 {
        font-size: 34px;
    }

    #content_bloc > section > p {
        font-size: 20px;
    }

    #content_bloc > section > ul > li {
        font-size: 20px;
    }
}

@media (max-width: 1300px) and (min-width: 1000px) {
    #top_title > h1 {
        font-size: 38px;
        letter-spacing: 4px;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    #content_bloc {
        width: 900px;
    }

    #content_bloc > section > h1 {
        font-size: 32px;
    }

    #content_bloc > section > p {
        font-size: 18px;
    }

    #content_bloc > section > ul > li {
        font-size: 18px;
    }
}

@media (max-width: 1000px) and (min-width: 600px) {
    #top_title > h1 {
        font-size: 36px;
        letter-spacing: 4px;
        padding-top: 70px;
        padding-bottom: 10px;
    }

    #content_bloc {
        margin: 0px 20px;
    }

    #content_bloc > section > h1 {
        font-size: 30px;
    }

    #content_bloc > section > p {
        font-size: 16px;
    }

    #content_bloc > section > ul > li {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    #top_title > h1 {
        font-size: 30px;
        letter-spacing: 4px;
        padding-top: 70px;
        padding-bottom: 10px;
    }

    #content_bloc {
        margin: 0px 20px;
    }

    #content_bloc > section > h1 {
        font-size: 26px;
    }

    #content_bloc > section > p {
        font-size: 14px;
    }

    #content_bloc > section > ul > li {
        font-size: 14px;
    }
}
